{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Contact-Us</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<center div class="row p-3">
    <div class="col">
        <center div class=" p-5 bg-white shadow rounded-lg" style="width: 50%;height: 95%;">
            <center>
                <h3>Onkar Mundekar</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Onkar Mundekar. Currently Pursuing Masters in Computer
                    Science.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested Web Development.</p>
            </center>
            <div>
                <img
                    src="https://www.pngrepo.com/download/262685/telephone-call.png" height="40" width="40"></a> :
            +91-8275636721<br><br>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:mundekaromkar@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                mundekaromkar@gmail.com<br><br>
            
                <a target="_blank" href='https://www.linkedin.com/in/onkar-mundekar-352b5a169/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                Onkar Mundekar<br>
            </div>
        </div>
    </center>
    </div>
</center>

    <!--<div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Krishna Baldaniya</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Krishna Baldaniya. I am an entrepreneur, currently
                    co-founder at KrsikX India LLP which is an Agri-Tech Startup. Pursuing bachelors in Information
                    Technology. My main focuses on the technical side are Cloud computing and mobile App development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                krishna.baldaniya93@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/krishna.baldaniya/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174855.png" height="44" width="44"></a> :
                krishna.baldaniya<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/krishna-baldaniya-5547381a1/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                krishna-baldaniya<br>
            </div>
        </div>
    </div>-->
</div>

{% endblock body %}